<h2 class="thread-title"><%= @post.title %></h2>

<% @post.messages.each do |message| %>
  <article class="post">
    <div class="post-body">
      <%= simple_format message.body %>
    </div>

    <div class="post-author">
      <%= message.user.email %>
    </div>
  </article>
<% end %>
